/* Declarar las constantes de colores y fuentes */
:root{
 /* fuentes  */
 --titulos: 'Roboto', sans-serif;
 --parrafos: 'Roboto', sans-serif;
 /* colores*/
 --encabezado: rgb(28, 64, 162);
 --piepagina : rgb(72, 60, 206);
 --enlace: #fff; 
 --enlaceSobre: rgb(16, 215, 233);
 --fondo:rgb(87, 164, 226);
}
/* la clase en css se representa por un (.) */

.home-wrapper{
 background-image: url('../imagenes/images/background.jpg');
}

/* selectores de etiquetas en css, se nombra 
*/
header {
    width:100%;
    background-color: var (--encabezado);
    position: fixed;
}
header img{
    width: 100px;
}
header nav{
    float:right;
    margin-top: 8px;
}

header nav {
    color:var(--enlace);
    background-color: rgb(119, 109, 228);
    text-decoration: none;
    border-radius: 3px;
    font-size: 18px;
    margin-left: 6px;
    padding: 4px;

}
header nav a:hover{
    color:var(--enlaceSobre);
}